.mainContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.resultInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.resultInfoheader {
  color: var(--white);
  font-family: "Plus Jakarta Sans Bold";
  font-size: var(--text-preset-2);
  line-height: 125%;
}

.resultInfoText {
  color: var(--slate-300);
  font-family: "Plus Jakarta Sans Medium";
  font-size: var(--text-preset-4);
  line-height: 150%;
}

.resultContainer {
  box-shadow: 0 -3px 0 var(--lime);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  padding: var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.resultContainerHeader {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.monthlyHeader {
  color: var(--slate-300);
  font-family: "Plus Jakarta Sans Medium";
  font-size: var(--text-preset-4);
  line-height: 150%;
}

.monthlyAmount {
  color: var(--lime);
  font-family: "Plus Jakarta Sans Bold";
  font-size: var(--text-preset-1);
  line-height: 125%;
}

.lineBreak {
  border: none;
  height: 1px;
  background-color: rgba(154, 190, 213, 0.25);
}

.endContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.endText {
  color: var(--slate-300);
  font-family: "Plus Jakarta Sans Medium";
  font-size: var(--text-preset-4);
  line-height: 150%;
}

.endAmount {
  color: var(--white);
  font-family: "Plus Jakarta Sans Bold";
  font-size: var(--text-preset-2);
  line-height: 125%;
}

@media (max-width: 420px) {
  .mainContainer {
    gap: var(--spacing-300);
  }
  .resultContainer {
    padding: var(--spacing-300) var(--spacing-200);
    gap: var(--spacing-200);
  }
  .monthlyAmount {
    font-size: 4rem;
  }
}
