.form {
  padding: var(--spacing-500);
  display: flex;
  flex-direction: column;
  /* border: 3px solid blue; */
}

@media (max-width: 420px) {
  .form {
    padding: var(--spacing-400) var(--spacing-300);
  }
}
