.main {
  /* border: 3px solid green; */
  max-width: 100.8rem;
  background-color: var(--white);
  border-radius: 2.4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .main {
    max-width: 68.8rem;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .main {
    max-width: none;
    border-radius: 0;
  }
}
