.termAndRate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-300);
}

@media (max-width: 420px) {
  .termAndRate {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }
}
